---
layout: ""
page_title: "Provider: Observe"
description: |-
  The Observe provider provides resources to interact with Observe API.
---

# Observe Provider

The Observe provider allows you to interact with resources supported by [Observe](https://observeinc.com).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

## Authentication and Configuration

You must provide a customer ID and valid credentials in order to interact with the Observe API.

The provider can either be configured explicitly through parameters or through environment variables.
Explicit configuration always takes precedence over environment variables:

{{tffile "examples/provider/provider-explicit.tf"}}

{{tffile "examples/provider/provider-explicit-token.tf"}}

Every parameter in the provider schema has a corresponding environment variable composed by prefixing the uppercased parameter name with `OBSERVE_`:

```bash
export OBSERVE_CUSTOMER=123456789012
export OBSERVE_USER_EMAIL=user@example.com
export OBSERVE_USER_PASSWORD=secret
terraform plan
...
```

```bash
export OBSERVE_CUSTOMER=123456789012
export OBSERVE_API_TOKEN=2xxXXx7Xxxxx9Xxxx7xX_xXxX3Xx3XX_
terraform plan
...
```

{{ .SchemaMarkdown | trimspace }}
