---
layout: ""
page_title: "Provider: Observe"
description: |-
  The Observe provider provides resources to interact with Observe API.
---

# Observe Provider

The Observe provider provides terraform resources to interact with the Observe API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
