name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  acceptance:
    runs-on: ubuntu-latest
    # Limit tests to 1 concurrent run because:
    # - Datastreams are limited to 10 per customer
    # - Apps can only be installed once per workspace
    # When these limitations are removed, multiple acceptance tests runs can be execute concurrently.
    concurrency:
      group: tests
    timeout-minutes: 30
    permissions:
      # https://github.com/EnricoMi/publish-unit-test-result-action#permissions
      contents: read
      issues: read
      checks: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: Acceptance tests
        timeout-minutes: 25
        run: make testacc TESTARGS="-failfast"
        env:
          # Environment variables for configuring the provider
          OBSERVE_CUSTOMER: ${{ vars.OBSERVE_CUSTOMER }}
          OBSERVE_DOMAIN: ${{ vars.OBSERVE_DOMAIN }}
          OBSERVE_USER_EMAIL: ${{ vars.OBSERVE_USER_EMAIL }}
          OBSERVE_USER_PASSWORD: ${{ secrets.OBSERVE_USER_PASSWORD }}
          OBSERVE_WORKSPACE: ${{ vars.OBSERVE_WORKSPACE }}
      - uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-report.xml
          path: test-report.xml
      - name: Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          files: test-report.xml
          comment_mode: 'off'
          check_name: report
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - run: go generate ./...
      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit)
